<p>Olá, {{deliveryman}}, você tem uma nova entrega disponível para remoção.</p>
<p>Segue os detalhes do produto:</p>
<p><strong>Produto</strong>: {{product}}</p>
<p><strong>Destinatário</strong>: {{recipient}}</p>
<p><strong>Endereço da entrega</strong>: {{address}}</p>
