<body>

  <header style="text-align: center">
    <img src="https://github.com/Rocketseat/bootcamp-gostack-desafio-03/raw/master/.github/logo.png" />
  </header>

  {{{body}}}

  <footer>
    <small>Vamos juntos</small>
  </footer>

</body>
